@tailwind base;
@tailwind components;
@tailwind utilities;



/* custome scroll bar design */

/* Firefox */

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background:  white;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:  rgb(50 34 198);
    border-radius: 14px;
    border: none;
  }



/* antd custom css */


/* news postPostPopup override */

.ant-modal .ant-modal-content .ant-modal-close {
    background-color: rgb(215 26 98);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-modal .ant-modal-content .ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon svg {
    color: white;
}


/* custom css for image preview modal */
.ant-modal .ant-modal-content .ant-modal-footer .ant-btn{
}


/* profile progress bar css */
.ant-progress.ant-progress-line.ant-progress-status-active.ant-progress-default.w-full .ant-progress-outer .ant-progress-inner .ant-progress-bg{
  background: linear-gradient(to right , rgb(215 26 98) , transparent)
}


/* profile page basic info collapse css */
/* .ant-collapse-item{
  background-color: rgba(50, 34, 198, 0.164);
} */
.ant-collapse-content.ant-collapse-content{
  background-color: white
}
.ant-collapse.basicInfo .ant-collapse-content.ant-collapse-content-active {
  background-color: rgb(241, 241, 241);
}


/* profile detail pages menu bar css */
.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.w-full{
  width: 100%;
  /* background-color: rgba(50, 34, 198, 0.164);; */
  display: flex;
  align-items: center;
  justify-content: center
}
.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child{

}
/* login animation */

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

/* for skeleton */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
